<div class="row">
  <section class="col-md-6">
      <h2>{{sender}}</h2>
      <p>{{subject}}</p>
      <p>{{body}}</p>

      {{outlet}}
      {{#link-to 'new-message' classNames="btn btn-primary"}}Reply to this email{{/link-to}}
    </section>

  <section class="col-md-6">
    <h2>Replies</h2>

    {{#each message in messages}}
    <article>
      <h3>{{message.subject}}</h3>
      <p>{{message.body}}</p>

    </article>
    {{/each}}

  </section>
</div>

<div class="row">
  <section class="col-md-6">

  </section>
</div>
